/*


@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	min-width: 980px;
	padding: 0;
	background-color:#fff;
	font-family:Arial, Verdana, "Sans Serif";
}
#headerbg {
	background-color:#66cc00;
	height:60px;
	z-index:999;
	margin-bottom:-10px;
}
#header1 {
	padding-top:17px;
	margin: 0 auto;
	width:920px;
	color: #fff;
}
#header1 a {
	text-decoration:none;
}
p {
	margin: 0 0 20px 0;
}
p, ul {
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
	line-height:16pt;
}
img {
	border: 0;
}
h1, #pixels {
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}
h2 {
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
	text-transform:uppercase;
	padding: 0px 0px 20px 50px;
	
	
}
h3 {
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
	padding-top:20px;
}
#header h1, #pixels {
	color: #48941A;
}
.float-left {
	float: left;
	margin: 0 0 0 20px;
}
.float-right {
	float: right;
	margin: 0 20px 0 0;
}
.center {
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}
#nav {
	list-style: none;
	position: fixed;
	right: 20px;
	top:140px;
}
#nav li {
	margin: 0 0 15px 0;
}
#header, #intro, #second {
	width: 100%;
}
#intro {
	background:url(images/greenwire_section_1_bg.jpg) 50% 0 no-repeat;
	color: black;
	height: 900px;
	margin: 0 auto;
	padding: 0;
}
#second {
	background: url(images/greenwire_section_2_bg.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 800px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
#third {
	background: url(http://www.greenpeace.org/international/Global/international/code/2013/PoisoningParadise/images/indonesia_section_0_bg.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 800px;
	padding: 0;
}
#fourth {
	background: url(images/greenwire_section_4_bg.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 850px;
	padding: 30px 0 0 0;
}
.story {
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}
.story a {
	color: #006532;
	text-decoration:none;
}

.backround-groups {
	background-image:url(images/groups_icon.png);
	background-repeat:no-repeat;
	background-color:rgba(255, 255, 255, 0.8);
	padding:2px 25px 0px 25px;
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
	border-top: 2px solid #60CA0A;
	border-bottom: 2px solid #60CA0A;
}
.backround-events {
	background-image:url(images/events_icon.png);
	background-repeat:no-repeat;
	background-color:rgba(255, 255, 255, 0.8);
	padding:2px 25px 0px 25px;
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
	border-top: 2px solid #0069aa;
	border-bottom: 2px solid #0069aa;
}
.backround-profile {
	background-image:url(images/profile_icon.png);
	background-repeat:no-repeat;
	background-color:rgba(255, 255, 255, 0.8);
	padding:2px 25px 0px 25px;
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
	border-top: 2px solid #ff7704;
	border-bottom: 2px solid #ff7704;
}
.story .float-left, .story .float-right {
	padding: 180px 0 0 0;
	position: relative;
	width: 500px;
}
#footer {
	background: #66cc00;
	color:#fff;
	height: 50px;
	margin: 0 auto;
	padding: 20px 0 0 50px;
	;
}
.links {
	margin: 0 auto;
	min-width: 890px;
	overflow: auto;
	width: 890px;
}
.read-more {
	text-align:right
}
.read-more a {
	color: #006532;
	text-decoration:none;
}
.read-more a:hover {
	color: #467F0D;
	text-decoration:none;
}
.read-more img {
	padding-right:7px;
	position:relative;
	top:1px;
}
.links a {
	color:#FFFFFF;
	padding-right:30px;
	text-decoration:none;
	font-size:10pt;
}
a.button {
	-webkit-appearance:none
}
a.button, input[type="submit"], ul.pager-load-more li a, .privatemessage-message a, .privatemessage-back, a#edit-cancel {
	position:relative;
	display:inline-block;
*display:inline;
*zoom:1;
	padding:.3125em .625em;
	margin-bottom:0;
	font-size:13px;
	outline:0;
	text-decoration:none;
	text-align:center;
	vertical-align:baseline;
	line-height:17px;
	cursor:pointer;
	color:#333;
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #fafafa, #ededed);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
	background-image:-webkit-linear-gradient(top, #fafafa, #ededed);
	background-image:-o-linear-gradient(top, #fafafa, #ededed);
	background-image:linear-gradient(to bottom, #fafafa, #ededed);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$bgcolor1', endColorstr='#ff$bgcolor2', GradientType=0);
*background-color:#e0e0e0;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #ccc;
	-webkit-border-radius:.25em;
	-moz-border-radius:.25em;
	border-radius:.25em;
*margin-left:.3em;
	color:#333
}
a.button:first-of-type, input[type="submit"]:first-of-type, ul.pager-load-more li a:first-of-type, .privatemessage-message a:first-of-type, .privatemessage-back:first-of-type, a#edit-cancel:first-of-type {
	margin-left:0px !important
}
a.button:hover, a.button:focus, input[type="submit"]:hover, input[type="submit"]:focus, ul.pager-load-more li a:hover, ul.pager-load-more li a:focus, .privatemessage-message a:hover, .privatemessage-message a:focus, .privatemessage-back:hover, .privatemessage-back:focus, a#edit-cancel:hover, a#edit-cancel:focus {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
*border-color:#b3b3b3;
	text-decoration:none
}
a.button:active, input[type="submit"]:active, ul.pager-load-more li a:active, .privatemessage-message a:active, .privatemessage-back:active, a#edit-cancel:active {
	top:1px
}
a.button.orange, input[type="submit"].orange, ul.pager-load-more li a.orange, .privatemessage-message a.orange, .privatemessage-back.orange, a#edit-cancel.orange {
	position:relative;
	display:inline-block;
*display:inline;
*zoom:1;
	padding:.3125em .625em;
	margin-bottom:0;
	font-size:13px;
	outline:0;
	text-decoration:none;
	text-align:center;
	vertical-align:baseline;
	line-height:17px;
	cursor:pointer;
	color:#fff;
	text-shadow:0 0 2px #9a9a9a;
	background-color:#f99713;
	background-image:-moz-linear-gradient(top, #f99713, #e56b2b);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f99713), to(#e56b2b));
	background-image:-webkit-linear-gradient(top, #f99713, #e56b2b);
	background-image:-o-linear-gradient(top, #f99713, #e56b2b);
	background-image:linear-gradient(to bottom, #f99713, #e56b2b);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$bgcolor1', endColorstr='#ff$bgcolor2', GradientType=0);
*background-color:#dc5d1b;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #d66228;
	-webkit-border-radius:.25em;
	-moz-border-radius:.25em;
	border-radius:.25em;
*margin-left:.3em;
	background-color:#ef811f;
	text-shadow:0 0 2px #9a9a9a;
	padding:11px 19px;
	font-size:15.5px;
	-webkit-border-radius:.35em;
	-moz-border-radius:.35em;
	border-radius:.35em
}
a.button.orange:hover, a.button.orange:focus, input[type="submit"].orange:hover, input[type="submit"].orange:focus, ul.pager-load-more li a.orange:hover, ul.pager-load-more li a.orange:focus, .privatemessage-message a.orange:hover, .privatemessage-message a.orange:focus, .privatemessage-back.orange:hover, .privatemessage-back.orange:focus, a#edit-cancel.orange:hover, a#edit-cancel.orange:focus {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0
}
a.button[disabled], input[type="submit"][disabled], ul.pager-load-more li a[disabled], .privatemessage-message a[disabled], .privatemessage-back[disabled], a#edit-cancel[disabled] {
	cursor:default;
	color:#888;
	background:#FFF
}
a.button[disabled]:hover, input[type="submit"][disabled]:hover, ul.pager-load-more li a[disabled]:hover, .privatemessage-message a[disabled]:hover, .privatemessage-back[disabled]:hover, a#edit-cancel[disabled]:hover {
	-webkit-box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	box-shadow:0 0 0;
	top:0;
	border:1px solid #CCC
}
a.button.float-left, input[type="submit"].float-left, ul.pager-load-more li a.float-left, .privatemessage-message a.float-left, .privatemessage-back.float-left, a#edit-cancel.float-left {
	float:left;
	margin-right:15px !important
}

